{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": false,
  "trailingComma": "es5",
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": "*.scss",
      "options": { "singleQuote": false }
    },
    {
      "files": "tailwind.config.js",
      "options": {
        "singleQuote": false,
        "printWidth": 80,
        "trailingComma": "es5"
      }
    }
  ]
}
